/*css de la bannière de la page home*/
/*conteneur de la bannière*/
.imagebanniere {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 170px 0;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 60px;
  margin-bottom: 50px;
}
/*image de la bannière*/
.imagehome {
  width: 95%;
  height: 220px;
  position: absolute;
  object-fit: cover;
  border-radius: 30px;
  filter: brightness(0.4);
  z-index: -2;
}
/*texte de la bannière*/
.texteimagehome {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: white;
}
@media only screen and (max-width: 482px) {
  .imagebanniere {
    height: 100px;
    margin-top: 35px;
    margin-bottom: 0;
  }
  .imagehome {
    height: 100px; /* Permet au logo de s'adapter à la taille du contenu */
    margin-right: 5px;
  }

  .texteimagehome {
    font-size: 18px;
    margin-left: -55px;
  }
}
