/*conteneur du header*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  width: 100%;
}
/*logo du header*/
img {
  color: #ff6060;
  width: 95px;
  height: 25px;
}
/*conteneur des liens de navigations*/
.navigation ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Empêche les liens de passer à la ligne */
}
/*liens de navigation*/
.navigation li {
  margin-left: 16px;
  padding: 15px;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: Montserrat;
}

.navigation a:hover {
  text-decoration: underline;
  margin-top: 5px;
}
/*media queries mobile*/
@media only screen and (max-width: 482px) {
  .header {
    margin: 0px;
  }
  .logo {
    width: 25px;
    margin-left: -10px;
  }

  .navigation ul {
    align-items: center;
    margin-left: -60px;
    margin-right: -25px;
  }

  .navigation li {
    margin-left: 0px;
    margin-right: 0px;
  }

  .navigation a {
    font-size: 12px;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 700px) {
  .logo {
    width: 150px;
  }
}
