.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 10px;
  margin: 10px;
}

.logo {
  color: #ff6060;
  width: 95px;
  height: 25px;
  top: 15px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.navigation li {
  margin-left: 16px;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: Montserrat;
}
.navigation a:hover {
  text-decoration: underline;
  margin-top: 5px;
}
