body {
  padding: 30px;
  margin: 0;
  display: block;
  justify-content: center;
  font-family: Montserrat;
  padding-bottom: 0px;
}
.footer {
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
}
