/*conteneur des étoiles(note)*/
.rating {
  display: flex;
  align-items: center;
}
/*mise en forme étoile*/
.star {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
@media (max-width: 768px) {
  .rating {
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 15px;
  }
  .star {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    padding-left: 0px;
  }
}
