/* Styles pour la version desktop */

#colortitle {
  font-weight: bold;
  font-size: 25px;
  color: #ff6060;
}

#colortitlehost {
  color: #ff6060;
}
#location {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.imgcercle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.title-container {
  display: flex;
  align-items: center;
}

.host-info {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.location {
  display: flex;
  justify-content: flex-start;
}

.tags-ratings-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tags {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

#tag {
  background-color: #ff6060;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.rating {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.collapse-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .ficheslogement {
    flex-direction: column;
  }
  .title-container {
    align-items: center;
    text-align: center;
  }
  .title-info {
    text-align: center;
  }

  .host-info {
    justify-content: center;
    margin-top: 0;
  }
}
/*.collapse-coD {
  /* Ajoutez ici les styles pour le collapse de la description 
}

.collapse-coE {
  /* Ajoutez ici les styles pour le collapse des équipements 
}*/

/*.ficheslogement h2 {
  font-weight: bold;
  font-size: 30px;
  color: #ff6060;
  margin-top: 20px;
}
.ficheslogement h3 {
  font-weight: bold;
  font-size: 18px;
  color: white;
}
#colortitleh3 {
  color: #ff6060;
}

.colortitleh3 {
  color: #ff6060;
}
.imgcercle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 520px;
  right: 80px;
}
.ficheslogement p {
  font-size: 14px;
  font-weight: bold;
  margin-left: -30px;
}
.ficheslogement ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.ficheslogement #tag {
  background-color: #ff6060;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 15px;
}
.collapse-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.collapse-container .collapse-coD {
  width: 50%;
  color: black;
  padding: 10px;
  margin-top: 20px;
}

.collapse-container .collapse-coE {
  width: 50%;
  color: black;
  margin-top: 20px;
}
#collapse-coD {
  height: 250px;
}
#collapse-coE {
  padding: 5px;
  font-size: 20px;
}
.rating {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 80px;
  top: 600px;
}

@media only screen and (max-width: 768px) {
  .ficheslogement h3 {
    right: auto;
    left: 200px;
    top: 720px;
    font-size: 12px;
  }

  .imgcercle {
    top: 695px;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }

  .ficheslogement p {
    margin-right: 30px;
  }

  .rating {
    position: static;
    margin-top: 10px;
    align-items: flex-start;
    margin-top: -215px;
    margin-left: 5px;
    font-size: 14px;
  }*/
/* Ajuster la largeur des étoiles */
/*.rating .star {
    width: 16px;
    height: 16px;
  }

  .collapse-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: -190px;
    margin-bottom: 20px;
  }
}*/
