/*conteneur du footer*/
.footer {
  background-color: black;
  height: 230px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0px;
}
/*logo kasa du footer*/
.logofooter {
  color: white;
  width: 122px;
  height: 39px;
  top: 15px;
  margin-bottom: 15px;
  margin-left: 80px;
}
/*texte du footer*/
.footer p {
  text-align: center;
  color: white;
  margin-bottom: 25px;
}
/*media queries mobile*/
@media (max-width: 481px) {
  .footer {
    width: 320px;
    margin-left: -28px;
  }
  .logofooter {
    padding-right: 45px;
  }
  .footer p {
    font-size: 16px;
    flex-wrap: wrap;
    padding-left: 40px;
  }
}
