.footer {
  background-color: black;
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 620px;
}
.logofooter {
  display: flex;
  justify-content: center;
  color: white;
  width: 122px;
  height: 39px;
  top: 15px;
  margin-bottom: 15px;
  margin-left: 80px;
}
.footer p {
  text-align: center;
  color: white;
  margin-bottom: 25px;
}
@media (max-width: 481px) {
  .footer {
    margin-top: 0; /* Supprime le margin-top */
    position: relative;
    bottom: -615px;
    width: 100%;
    padding-left: 15px;
  }

  .logofooter {
    margin-bottom: 10px; /* Réduisez le margin-bottom pour un meilleur espacement */
  }

  .footer p {
    font-size: 16px;
    flex-wrap: wrap;
  }
}
