.footer {
  background-color: black;
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 620px;
  @media (max-width: 1005px) {
    bottom: 300px;
  }
}
.logofooter {
  display: flex;
  justify-content: center;
  color: white;
  width: 122px;
  height: 39px;
  top: 15px;
  margin-bottom: 15px;
  margin-left: 80px;
}
.footer p {
  text-align: center;
  color: white;
  margin-bottom: 25px;
  @media (max-width: 1005px) {
    font-size: 16px;
  }
}
