.container {
  margin-bottom: 20px;
  position: relative;
  padding: 50px;
}

.buttonclick {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  width: 50px;
  margin-top: 75px;
  margin-right: 80px;
}
.buttonclick img {
  width: 40px;
}

.h3collapse {
  margin: 0;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 2px;
  font-size: 25px;
  height: 50px;
  color: white;
  background-color: #ff6060;
}

p {
  margin: 0;
  padding: 0 30px;
  font-size: 25px;
  margin-top: 25px;
}
.backgroundText {
  background-color: #f2f2f2;
}

.container,
footer {
  margin-bottom: -50px;
}
/*media queries mobile*/
@media only screen and (max-width: 482px) {
  .container {
    margin-left: -45px;

    width: 100%;
  }

  .buttonclick {
    right: -5px;
  }

  p {
    font-size: 18px;
  }
}
